.daybutton{
    background: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    box-shadow: none;
    cursor: pointer;
}
.daynormal{
    border: none;
    color: #7f7f7f;
}
.daynormal:hover{
    background-color: #d7d7d7;
}
.dayselected{
    border: none;
    background-color: #486dd3 !important;
    box-shadow: 0 2px 3px 2px #d7d7d7;
    color: white;
}
.today{
    border-color: #486dd3;
    background: none;
    color: #486dd3;
}